.works {
  display: flex;
  height: 90vh;
  padding: 0 3rem 0 3rem;
  margin-top: 4rem;
}

/* right side */
.works-right {
  position: relative;
}

.works-mainCircle {
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background-color: white;
}

.works-mainCircle>* {
  position: absolute;
}

.works-mainCircle>:nth-child(1) {
  top: -3rem;
  left: 6rem;
}

.works-mainCircle>:nth-child(2) {
  left: -3rem;
  top: 5rem;
}

.works-mainCircle>:nth-child(3) {
  left: 6rem;
  top: 5rem;
}

.works-mainCircle>:nth-child(4) {
  left: 15rem;
  top: 5rem;
}

.works-mainCircle>:nth-child(5) {
  left: 6rem;
  top: 13rem;
}

.works-secCircle {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--smboxShadow);
  background-color: white;
}

.works-secCircle > img {
  transform: scale(0.6);
}

.works-backCircle {
  position: absolute;
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  z-index: -1;
}

.blueCircle {
  background-color: #1949B8;
  left: 18rem;
  top: 0rem;
}

.yellowCircle {
  background-color: #F5C32C;
  left: 18rem;
  top: 8rem;
}
